.topBarButton, .topBarButtonSelected{
    height: 5vh;
    padding: 0 1rem;
    border-radius: 2.5vh;
    font-weight: 500;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


.topBarButtonSelected {
    background-color: lightblue;
    color: darkblue;
}

.topBarButton:hover {
    background-color: rgb(208, 205, 205);
}

:active.topBarButton, :active.topBarButtonSelected{
    transform: scale(95%);
}